.img-taxi{
  height: 50vw;
  background-image: url(../assets/images/taxi.jpg);
  background-size: 100%;
  background-position-y: 93%;
}

hr{
  height: 1px;
  width: 10vw;
  border: none;
}

.section-two{
  height: 40vw;
}

.img-driver{
  height: 33vw;
  background-image: url(../assets/images/conduce.jpg);
  background-size: 100%;
  background-position-y: 50%;
}

.conductor{
  background-color: rgb(51,51,51, 0.5);
  height: 33vw;
}

.section-three{
  height: 40vw;
}

.box-form{
  width: 25vw;
}
